{% extends 'schedule/index.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="container">
                        <div class="uploader">
                            <h2>Загрузить</h2>
                            <form enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                <input type="file" name="document">
                                <button type="submit">Отправить и показать</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div id="myDiv1"></div>
                    <div id="myDiv2"></div>
                    <div id="myDiv3"></div>
                    <div id="myDiv4"></div>
                    <div id="myDiv5"></div>
                    <div id="myDiv6"></div>
                    <h1 class="mb-5">Ampers:</h1>
                        {% for amper in amper_cargo_axis %}
                            <li>{{ amper }}</li>
                        {% endfor %}
                        <script>



                            //Best
                            /*{#let ar = {{ ampers_cargo4 }};#}
                            {#var data = [];#}
                            {#for (var i = 0; i < ar.length; i++) {#}
                            {#    var cargo =#}
                            {#        {x: {{ operation_array }},#}
                            {#            y: ar[i],#}
                            {#            type: 'scatter',#}
                            {#            name: 'груз-' + i,#}
                            {#        };#}
                            {#    data.push(cargo);#}
                            {#            // var data = [cargo1, cargo2, cargo3, cargo4, cargo5];#}
                            {#var lot_name =  + 'ось'#}
                            {#var layout = {title: lot_name};#}
                            {#Plotly.newPlot('myDiv', data, layout);#}*/



                            let ar = {{ amper_cargo_axis }};

                            var i = 0;
                            ar.forEach(function (entry) {
                                var data = [];
                                i++;
                                for (var j = 0; j < entry.length; j++) {
                                    var cargo =
                                        {x: {{ operation_array }},
                                            y: entry[j],
                                            type: 'scatter',
                                            name: 'груз-' + j,
                                        };
                                    data.push(cargo);
                                }
                                // var data = [cargo1, cargo2, cargo3, cargo4, cargo5];
                                var lot_name = i + ' ось'
                                var layout = {title: lot_name};
                                var mydiv_id = 'myDiv'+i;
                                Plotly.newPlot(mydiv_id, data, layout);
                            })

                        </script>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}